<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Admin Homepage</title>
</head>
<body>
    <h1>Admin Homepage</h1>
    <nav class="navbar">
        <div class="name">
            <a href="AdminHomepage.html">Admin Homepage</a>
        </div>
        <ul class="navlinks">
            <li><a href="Inventory.html">Inventory</a></li>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="Manage.html">Manage</a></li>
            <li><a href="Bookings.html">Bookings</a></li>
        </ul>
    </nav>
</body>
</html>