<!DOCTYPE html>
<html lang="en">
<html>
    <head>
<meta charset="UTF-8">
<meta name="author" content="Najib"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="icon" href="Icon1.png">
 <link rel="stylesheet" href="Main.css" >
        <title> Signup </title>
    </head>



        <body id="Signup">

     



<h1>Login</h1>


<form action="/action_page.php">
        

 <div class="Inputform"> 
    <input type="text" required="required" placeholder="Enter First name">
    <input type="text" required="required" placeholder="Enter Surname">
    <input type="text" required="required" placeholder="Enter Email Address ">
 </div>

 <div class="Inputform"> 
    <input type="password" required="required" placeholder="Create password" id="myInput">
   <div class="checkbox">
    <input type="checkbox" onclick="myFunction()">Show Password
    <script> function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
 </div>
</div>
<input type="submit" value="Login">
</form>






        </body>
</html>